@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans&family=Petit+Formal+Script&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    color: #fff;
}
.overlay{
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
}
header nav{
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2 span{
    color: #0c7b71;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 0 20px;
}
nav ul li a{
    font-size: 15px;
    color: #fff;
}
nav ul li a:hover{
    color: #3acbd6;
    transition: .5s;
}
.log{
    display: flex;
    align-items: center;
    gap: 10px;
}
.log a{
    font-size: 15px;
    color: #ffffff;
}
.signup{
    padding: 8px 10px;
    background-color:#0c7b71;
    border-radius: 5px;
    font-weight: 800;
}
.signup:hover{
    background-color: #fff;
    transition: .5s;
    color: #0c7b71;;
}

/* !hoME */
#home{
    display: flex;
}
.left_cont{
    display: flex;
}
.left_cont .img{
    position: relative;
}
.busi{
    position: absolute;
    /* left: 0; */
    top: 100px;
    right: 100px;
}
.git{
    width: 100%;
}





@media only screen and (max-width: 1100px) {
    nav ul{
        display: none;
    }
  }
